body {
	background-image: url('../images/sfondo/sfondo.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 80px;
}



/*****************************CONTENITORE PRINCILAE UTILIZAATO NELL INDEX*********************************** */
.container-box {
	width: 700px;
	/* Imposta la larghezza */
	height: 300px;
	/* Imposta l'altezza */
	border-radius: 20px;
	/* Imposta il border-radius per ottenere angoli arrotondati */
	background-color: rgba(248, 249, 250, 0);
	/* Imposta il background-color con trasparenza */
	position: relative;
	margin: 40px auto;
	perspective: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.container-box:hover .flip-box-inner .button-content {
	transform: rotateY(0deg);
	/* Mantiene i pulsanti dritti quando la scatola viene girata */
}

/*********************************************************************************************************************/

/*********************************************************CONTAINER PER SCOLLARE LA PAGINA E TENERE IL LAOUYT********************************************************/
.container2 {
	width: 1000px;
	/* Aumenta la larghezza */
	height: 600px;
	/* Altezza fissa per mantenere le dimensioni uguali */
	margin: 20px auto;
	/* Mantiene il margine verticale e orizzontale */
	background-color: rgba(255, 255, 255, 0);
	/* Trasparente */
	border-radius: 10px;
	white-space: normal;
	/* Permette la rottura di riga */
	display: flex;
	flex-wrap: wrap;
	/* Permette il wrapping delle card */
	justify-content: center;
	/* Centra le card */
	align-items: flex-start;
	/* Allinea le card all'inizio del contenitore */
}


/*********************************************************************************************************************/

/***********************************************CONTENITORI DELLE TRASLAZIONE INIZIALE**************************************************************/
.button-content {
	background-color: rgb(52, 58, 64, 0.3);
	transform: rotateY(180deg);
	width: 550px;
	height: 300px;
	flex-direction: row;
	/* Modifica la direzione del flex a riga */
	gap: 10px;
	/* Spazio tra i pulsanti */
	display: flex;
	align-items: center;
	/* Allinea i pulsanti verticalmente al centro */
	justify-content: center;
	/* Centra i pulsanti orizzontalmente */
}

/*********************************************************************************************************************/

/**********************************************PULSANTI PRINCIPALI E RELAITVI TYPE*************************************************************/
.nav-button.princbutton {
	width: 150px;
	/* Larghezza fissa per tutti i pulsanti */
	height: 50px;
	/* Altezza fissa per tutti i pulsanti */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	background-color: #ff990a;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.nav-button.princbutton:hover {
	background-color: rgba(0, 0, 0);
}

.nav-button.princbutton i {
	margin-right: 8px;
}

/*********************************************************************************************************************/

/******************************************NAVBAR**********************************************************/
.navbarprinc {
	background-color: rgb(52, 58, 64, 0.6);
	/* Dark background color */
	border-bottom: 3px solid #ff990a;
	/* Bottom border with accent color */
	width: 100%;
	top: 0;
	z-index: 1000;
	padding: 10px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* Subtle shadow for depth */
}

.navbar-brand img {
	height: 50px;
	/* Ensure logo is appropriately sized */
	margin-right: 10px;
}

.navbar-nav .nav-link {
	color: #ffffff;
	/* White text for links */
	margin-right: 15px;
	transition: color 0.3s ease;
	/* Smooth transition for hover effect */
}

.navbar-nav .nav-link:hover {
	color: #ff990a;
	/* Accent color on hover */
}

.navbar-toggler {
	border-color: #ff990a;
	/* Toggler button border color */
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*********************************************************************************************************************/

/***************************************BOX SCORRIMENTO DIMENSIONE FISSA PRINCIPALE********************************************************************/
.princboxScroll {
	max-width: 800px;
	margin: 10px auto;
	/* Riduce ulteriormente lo spazio verticale rispetto alla navbar */
	background-color: rgba(255, 255, 255, 0);
	/* Trasparente */
	border-radius: 10px;
	overflow-y: auto;
	/* Scorrimento verticale */
	white-space: normal;
	/* Permette la rottura di riga */
	height: 600px;
	/* Altezza massima */
	display: flex;
	flex-wrap: wrap;
	/* Permette il wrapping delle card */
	justify-content: center;
	/* Centra le card */
	scrollbar-width: none;
	/* Nasconde la scrollbar su Firefox */
	-ms-overflow-style: none;
	/* Nasconde la scrollbar su IE e Edge */
	margin-top: 5px;
	/* Riduce la distanza dalla navbar */
}


/*********************************************************************************************************************/

/************************************************CONTENITORI CARD PER CONCES E AUTO********************************************************/
.contairConces {
	width: calc(33.333% - 30px);
	/* Larghezza per contenere massimo 3 card per riga, meno margine */
	margin: 10px 15px;
	/* Spaziatura tra le card */
	box-sizing: border-box;
	/* Include il padding e il bordo nella larghezza */
}

.contairAuto {
	width: calc(33.333% - 30px);
	/* Larghezza per contenere massimo 3 card per riga, meno margine */
	margin: 10px 15px;
	/* Spaziatura tra le card */
	box-sizing: border-box;
	/* Include il padding e il bordo nella larghezza */
}

/*********************************************************************************************************************/

/*********************************************************BOX TRASLAZIONE E RELATIVI TYPE********************************************************/
.flip-box {
	background-color: transparent;
	width: 300px;
	height: 200px;
	perspective: 1000px;
	/* Rimuovi il grigio da attorno alla card */
	margin-bottom: 20px;
}

.flip-boxIndex {
	background-color: transparent;
	width: 550px;
	height: 300px;
	perspective: 1000px;
	/* Rimuovi il grigio da attorno alla card */
	margin-bottom: 20px;
}


.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 20px;
	/* Aggiungi il border-radius anche qui */
	overflow: hidden;
	/* Assicura che il contenuto rispetti il border-radius */

}

.flip-box-front {
	background-color: #bbb;
	color: black;
}

.flip-box-back {
	background-color: rgb(52, 58, 64, 0.3);
	/* Dark background color */
	color: white;
	transform: rotateY(180deg);
}

.flip-box img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	/* Rettangolo con angoli arrotondati */
}

/*********************************************************************************************************************/

/****************************************UTILIZZO PER CENTRE I CONTENUTI DELLE CARD***************************************************************/
.card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*********************************************************************************************************************/

/**************************************************PER IL TITOLO***************************************************************/
.boxtitle {
	
    max-width: 800px;
    margin: 100px auto 1px auto; /* Aumenta lo spazio rispetto alla navbar */
    padding: 10px; /* Riduce l'altezza del box */
    background-color: rgb(52, 58, 64, 0.3); /* Leggermente più opaco */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 26px; /* Leggermente più grande */
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Font per il titolo */
    color: #ff990a; /* Colore del testo più vivace */
    border: 2px solid #ff990a; /* Bordo dello stesso colore del testo */
    position: relative; /* Fissa la posizione */
    z-index: 10;
}

.content-container {
    margin-top: 140px; /* Spazio superiore per evitare sovrapposizioni */
    width: 100%;
}

/*********************************************************************************************************************/

/**********************************************PER VISUALIZZARE I DATI DI REGISTRAZIONEO DI MODFICA***********************************************************************/
.infoBox {
	max-width: 600px;
	max-height: 400px;
	/* Altezza massima ridotta per rendere il contenuto scrollabile */
	margin: 20px auto;
	/* Centra il box */
	padding: 20px;
	background-color: rgb(52, 58, 64, 0.3);
	/* Sfondo leggermente opaco */
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	/* Abilita lo scorrimento verticale */
	scrollbar-width: none;
	/* Nasconde la scrollbar per Firefox */
}

.infoBox::-webkit-scrollbar {
	width: 8px;
	/* Larghezza della scrollbar per Webkit (Chrome, Safari) */
}

.infoBox::-webkit-scrollbar-track {
	background: #f1f1f1;
	/* Colore del track della scrollbar */
	border-radius: 10px;
	/* Arrotonda gli angoli del track */
}

.infoBox::-webkit-scrollbar-thumb {
	background: #888;
	/* Colore del thumb della scrollbar */
	border-radius: 10px;
	/* Arrotonda gli angoli del thumb */
}

.infoBox::-webkit-scrollbar-thumb:hover {
	background: #555;
	/* Colore del thumb della scrollbar al passaggio del mouse */
}

/*********************************************************************************************************************/

/**********************************************PER VISUALIZZARE I DETTAGLI DI AUTO E CONCESSIONARI***********************************************************************/

.details-sections {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	/* Aumenta lo spazio tra le sezioni "Specifiche" e "Optional" */
}

.details-sections ul {
	list-style-type: none;
	padding: 0;
}

.details-sections li {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	color: #fff;
}

.concessionario-details {
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 15px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 20px;
}

.concessionario-img {
	width: 50%;
	height: auto;
	border-radius: 15px;
}

.concessionario-title {
	color: #ff990a;
	font-family: 'Roboto', sans-serif;
}

.concessionario-info {
	color: #ffffff;
}

/*///////////////////////////////*/
.boxfotodet {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}
/*******************************************/
.dettagliScorrimento {
    height: 200px; /* Altezza fissa per la box scorrevole, in base all'altezza delle immagini */
    overflow-x: auto;
    overflow-y: hidden; /* Disabilita lo scorrimento verticale */
    background: rgba(255, 255, 255, 0); /* Sfondo trasparente */
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px; /* Spazio tra le colonne */
    scroll-snap-type: x mandatory; /* Per uno scorrimento fluido */
    direction: rtl; /* Scorrimento da destra verso sinistra */
}

.contairAutoDettaglio {
    flex: 0 0 calc(33.333% - 10px); /* Tre colonne per riga */
    scroll-snap-align: start; /* Allinea gli elementi all'inizio */
    direction: ltr; /* Ripristina la direzione normale per i contenuti all'interno */
}
/**************************************************************************************/

/****************SCORRIMENTO ORIZZONTALE PER SPECIFICHE E OPTIONAL*********************/

.dettagliAutoScroll {
    height: 220px; /* Altezza fissa per la box scorrevole */
    overflow-x: auto;
    overflow-y: hidden; /* Disabilita lo scorrimento verticale */
    background: rgba(255, 255, 255, 0); /* Sfondo trasparente */
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px; /* Spazio tra le colonne */
    scroll-snap-type: x mandatory; /* Per uno scorrimento fluido */
    direction: ltr; /* Scorrimento da sinistra verso destra */
    flex-direction: column;
}

.scroll-container {
    display: flex;
    overflow-x: auto; /* Abilita lo scorrimento orizzontale */
    padding: 10px 0;
    gap: 10px; /* Spazio tra gli elementi */
    scroll-snap-type: x mandatory; /* Per uno scorrimento fluido */
}

.boxSpecifiche, .boxOptional {
    flex: 0 0 auto; /* Larghezza automatica per ogni item */
    scroll-snap-align: start; /* Allinea gli elementi all'inizio */
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap; /* Impedisce il ritorno a capo del testo */
    color: #ffffff;
    min-width: 150px; /* Larghezza minima per ogni box */
}